/* Playing / Streaming Background */
div[class*="headerPlaying"],
div[class*="headerStreaming"] {
    background-color: var(--unblurple) !important;
}

/* Changelog */
.improved-2jOfnH {
    color: var(--unblurple) !important;
}
.improved-2jOfnH:after {
    background-color: var(--unblurple) !important;
}

/* notif settings thing */
.wrapper-3jrx9n {
    border-color: var(--unblurple) !important;
}
.option-n0icdO:hover,
.selected-mKYnfr.option-n0icdO {
    background-color: var(--unblurple) !important;
    border-color: var(--unblurple) !important;
}